 
 h1 h2 {
     font-size: 2em;
 }


 .App {
     display: flex;
     text-align: center;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 input {
     /* margin-right: 1rem;
    margin-left:1rem; */
     width: 70%;
     height: 40px;
     line-height: 28px;
     padding: 0 1rem;
     padding-left: 2.5rem;
     border: 2px solid transparent;
     border-radius: 8px;
     outline: none;
     background-color: #f3f3f4;
     color: #0d0c22;
     transition: .3s ease;
 }

 .input::placeholder {
     color: #9e9ea7;
 }

 label {
     font-size: 2rem;
     text-decoration: none;
     font-family: "'Courier New', Courier, monospace";
     margin: 1rem;
 }
button {
    margin-top: 1rem;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .1s;
    box-shadow: 6px 6px 12px #ce8e26,
        -6px -6px 12px #ffb300;
}

button:hover {
    border: 1px solid white;
    transform: translateY(-3px);
}

button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}
 .card_container {
     background: rgb(253, 213, 92);
     border-radius: 20px;
     padding: 2rem;
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
     justify-content: center;
 }